.bubbleMsg {
  position: absolute;
  max-width: 600px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif, "Microsoft YaHei","Microsoft SanSerf", 微软雅黑;
}

.bubbleMsgSendersHolder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 600px
}

.bubbleMsgContentHolder {
  border: 1px solid #ccc;
  padding: 6px 8px 6px 8px;
  border-radius: 10px;
  margin-top: -8px;
  color: #444;
  max-width: 224px;
  font-size: 14px;
  box-shadow: 2px 2px 4px 1px #ababab;
}

.bubbleMsgContentBg {
  background: rgba(130, 151, 255, 90%);
}