.bubbleMsgSender {
  margin: 0 6px 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.bubbleMsgSenderHeadImgHolder {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  border: 1px solid #9d9d9d;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.bubbleMsgSenderNameHolder {
  min-width: 40px;
  max-width: 92px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-shadow: 0 1px white, 1px 0 white, -1px 0 white, 0 -1px white;
  user-select: all;
}

.userMedalHolder {
  border: 1px solid;
  display: flex;
  font-size: 10px;
  border-radius: 3px;
  font-weight: 600;
  margin-bottom: -2px;
  z-index: 2;

  .userMedalLevel {
    padding-left: 2px;
    padding-right: 2px;
    background: white;
  }

  .userMedalName {
    color: white;
    padding-left: 2px;
    padding-right: 2px;
  }
}